#captivating-slider {
    padding: 0rem 5rem 5rem 5rem;
}

.captivating-splide-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.captivating-section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.captivating-section-heading--button {
    background: linear-gradient(to right, black 50%, rgb(208, 60, 63) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.4s ease;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.captivating-section-heading--button:hover {
    background-position: left bottom;
}

.captivating-section-heading--button:after {
    box-shadow: none;
}

.captivating-section-heading {
    font-weight: 800;
}

.captivating--image-container {
    height: 34rem;
    width: 26rem;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.captivating--image-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}

.captivating--content {
    position: absolute;
    height: 34rem;
    width: 26rem;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.captivating-splide-item:hover .captivating--image-container img {
    transform: scale(1.1);
    overflow: hidden;

}

.captivating-content--title {
    color: white;
    font-size: 2.5rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.captivating-content--button {
    background: none;
    color: white;
    border: 0.5px solid white;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.captivating-content--button:hover {
    color: rgb(208, 60, 63);
}

.captivating-content--title:hover {
    color: rgb(208, 60, 63);

}

.captivating-content--button:after {
    box-shadow: none;
}

#captivating-slider .splide__arrow {
    background: rgb(208, 60, 63);
    opacity: 1;
    color: white;
    height: 4rem;
    width: 4rem;
    background: linear-gradient(to right, black 50%, rgb(208, 60, 63) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.4s ease;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#captivating-slider .splide__arrow:hover {
    background-position: left bottom;
}

#captivating-slider .splide__arrow--next {
    right: 0.1px;
    border-radius: 16px 0px 0px 16px;
    color: #fff;
}

#captivating-slider .splide__arrow:disabled {
    opacity: 0;
}

#captivating-slider .splide__arrow--prev {
    left: 0.1px;
    border-radius: 0px 16px 16px 0px;
    color: #fff;
}

#captivating-slider .splide__arrow svg {
    fill: white;
    color: #fff;
    font-size: 10px;
}

@media (max-width:480px) {
    .captivating-section-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.2rem;
    }

    .captivating-section-heading h1 {
        margin: 8px 0;
        font-size: 2.5rem;
    }

    .captivating-section-heading--button {
        min-width: 10px;
        min-height: 10px;
        height: 4rem;
        width: 10rem;
    }

    #captivating-slider {
        padding: 1.8rem;
    }

    .captivating--image-container {
        height: 24rem;
        width: 15rem;
    }

    .captivating--image-container img {
        height: 24rem;
        width: 15rem;
    }

    .captivating--content {
        height: 24rem;
        width: 15rem;
    }

    .captivating-content--title {
        font-size: 1.8rem;
    }

    .captivating-content--button {
        min-width: 10px;
        min-height: 10px;
        padding: 10px;
        width: 10rem;
    }

    #captivating-slider .splide__arrow {
        height: 3rem;
        width: 3rem;
    }
}