.custom-countdown-timer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    width: 100%;
}

.custom-countdown-timer__text-wrapper {
    width: 100%;
}

.custom-countdown-timer__time-wrapper {
    width: 100%;
}

.custom-countdown-timer__time-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.custom-countdown-timer__text-wrapper h2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem 0rem;
    margin-bottom: 0;
}

.custom-countdown-timer__text-wrapper p {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

.custom-countdown-timer__wrapper .button {
    background: linear-gradient(to right, rgb(208, 60, 63) 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.4s ease;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.custom-countdown-timer__wrapper .button:hover {
    background-position: left bottom;
}

.custom-countdown-timer__wrapper .button:after {
    box-shadow: none;
}

.custom-countdown-timer__button {
    margin-top: 10px;
}

.custom-countdown-timer__card {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.05);
    height: 127px;
    width: 140px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.3px;
    line-height: 28.8px;
    text-align: center;
}

.custom-countdown-timer__time {
    font-weight: 400;
    font-size: 30px;
}

.custom-countdown-timer__description {
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.custom-countdown-timer__stamp {
    font-size: 16px;
    font-weight: 400;
}

/* .custom-button-secondary_color ::before{
    height: 45px;
    width: auto;
    background-color: black;
    border-radius: 12px ;
  } */


@media screen and (max-width: 750px) {
    .custom-countdown-timer__wrapper {
        display: flex;
        flex-direction: column;
    }

    .custom-countdown-timer__text-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }

    .custom-countdown-timer__time-wrapper {
        width: 90%;
    }

    .custom-countdown-timer__description {
        font-size: 12px;
    }

    .custom-countdown-timer__card {
        height: 61px;
        width: 47px;
        padding: 12px 0px;
    }

    .custom-countdown-timer__time {
        font-weight: 200;
        font-size: 20px;
    }

    .custom-countdown-timer__stamp {
        font-size: 12px;
    }
}



.ctimer-animated-rich-text__button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.6s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    height: 40px;
}

.ctimer-animated-rich-text__button:hover {
    color: #fff;
}

.ctimer-animated-rich-text__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #d03c3f;
    ;
    transition: left 0.4s ease;
    border-radius: 50px;
}

.ctimer-animated-rich-text__button:hover::before {
    left: 0;
}

.ctimer-animated-rich-text__button-label {
    z-index: 10;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .ctimer-animated-rich-text__description {
        font-size: 4rem;
    }
}

@media screen and (max-width: 762px) {
    .ctimer-animated-rich-text__button {
        font-size: 12px;
        width: 100px;
        height: 40px;
        margin-top: 0.8rem;
    }

    .ctimer-animated-rich-text__heading {
        font-size: 12px;
        margin-bottom: 0.8rem;
    }

    .ctimer-animated-rich-text__description {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    .ctimer-animated-rich-text__description {
        font-size: 2rem;
        gap: 0.8rem;
    }
}

.ctimer-animated-rich-text__button {
    text-decoration: none;
}