.interactive-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: start;
    /* Aligns items to the top and left */
    justify-content: center;
    gap: 3rem;
    padding: 0 3rem;
}

.interactive-cards__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* Ensures content is left-aligned */
    width: 100%;
}

.interactive-cards__image {
    width: 100%;
    border-radius: 22px;
    position: relative;
}

.interactive-cards__image img {
    width: 100%;
    height: auto;
    border-radius: 22px;
}

.interactive-cards__content {
    text-align: left;
    width: 100%;
}

.interactive-cards__heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}

.interactive-cards__desc {
    font-size: 16px;
    line-height: 15px;
    color: #000;
    margin-bottom: 1rem;
}

.interactive-cards__button {
    /* display: block;
    /* Makes the button occupy its own line
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    */
}

.interactive-cards__hotspot {
    width: 30px;
    height: 30px;
    border-radius: 55%;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
}

.interactive-cards__dot {
    position: absolute;
    top: 35%;
    left: 32%;
    background-color: #000;
    color: transparent;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
    z-index: 100;
    width: 200px;
    height: 130px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    position: absolute;
    bottom: -60px;
    left: 35px;
}

.tooltip img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tooltip .text {
    width: 130px;
}