.product-sections {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #0264D6;
    font-size: 2.4em;
    margin-bottom: 20px;
}

.product-button {
    background: linear-gradient(45deg, #6e45e2, #88d3ce);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.3s ease;
}

.product-button:hover {
    transform: scale(1.05);
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: visible;
    transition: box-shadow 0.3s ease;
    max-width: 440px;
    position: relative;
}

.product-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
    background-color: transparent;
    position: absolute;
    top: -35px;
    left: 20px;
    padding: 4px 8px;
    border-radius: 12px;
    border-bottom: 2px solid inherit;
    font-weight: 700;
}

.product-card h3:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.product-card p {
    padding: 0 20px 20px;
    color: #555;
}

img {
    width: 30%;
    height: 180px;
    display: block;
}

/* Image container styling */
.product-card .image-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 2rem;
}

.product-card img {
    max-height: 300px;
    object-fit: cover;
    flex: 1 1 40%;
    margin: 0 5px;
}