#customer-review-slider {
    padding: 3rem 5rem;
    background: #f5f5f5;
    ;
}

.customer-review-heading {
    margin-top: 0;
    font-weight: 800;
}

.customer-review--image-container {
    margin-top: 15px;
}

.customer-review--image-container img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: transform 1s;
}

.customer-review-splide-item:hover img {
    transform: scale(1.1);
}

.customer-review-splide-item {
    border-radius: 15px;
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: -2rem;
}

.customer-review-splide-item div p {
    margin: 0;
    color: black;
}

.customer-review-splide-item--name {
    font-weight: 600;
    margin-top: 15px;
    font-size: 1.6rem;
}

.customer-review-splide-item--designation {
    font-size: 12px;
}

.customer-review-splide-item--description {
    margin: 18px 0;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 1rem;
    line-height: 22px;
    font-weight: 400;
}

.customer-review-splide-item--description p {
    text-align: center;
    line-height: 20px;
}

#customer-review-slider .splide__arrow {
    background: black;
    opacity: 1;
    color: white;
    height: 4rem;
    width: 4rem;
}

#customer-review-slider .splide__arrow--next {
    right: 3.5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-radius: 16px 0px 0px 16px;
}

#customer-review-slider .splide__arrow:disabled {
    opacity: 0;
}

#customer-review-slider .splide__arrow--prev {
    left: 3.5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    border-radius: 0px 16px 16px 0px;
}

#customer-review-slider .splide__arrow svg {
    fill: white;
    font-size: 10px;
}

@media (max-width: 900px) {
    #customer-review-slider {
        padding: 3rem 4rem;
    }

    .customer-review-heading {
        font-size: 2.5rem;
    }

    .customer-review-splide-item--description {
        font-size: 1.3rem;
        margin-top: 30px;
    }

    #customer-review-slider .splide__arrow--next,
    #customer-review-slider .splide__arrow--prev {
        top: 145px;
    }

    #customer-review-slider .splide__arrow--prev {
        left: 0;
    }

    #customer-review-slider .splide__arrow--next {
        right: 0;
    }
}