.assignment-faq {
    background: #f5f5f5;
    padding: 3rem;
    padding-right: 1rem;
}

.assignment-faq--heading {
    padding-top: 2rem;
    margin: 0;
    color: white;
    text-align: left;
    font-weight: 900;
    color: #000;
}

.assignment-faq--description {
    max-width: 530px;
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding-top: 0;
}

.assignment-faq-container--block {
    border-bottom: 0.5px solid #e2e2e2;
    margin-right: 2rem;
}

.assignment-faq-container-block--question {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.assignment-faq-container-block--question h5 {
    font-size: 1.8rem;
    margin: 20px 0;
    color: #000;
    font-weight: 700;
    flex: 12;
}

.toggle-icon {
    color: #000;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    flex: 1;
}

.assignment-faq-container-block--answer p {
    color: #000;
    font-size: 18px;
    margin-top: 0;
    padding: 0 1.5rem;
}

@media (max-width:600px) {
    .assignment-faq--heading {
        padding-top: 0rem;
        font-size: 2.5rem;
    }

    .assignment-faq-container-block--question h5 {
        font-size: 1.5rem;
    }

    .assignment-faq-container-block--answer p {
        font-size: 1.2rem;
    }

    .assignment-faq {
        padding: 0 1rem;
    }

    .assignment-faq-container--block {
        margin-right: 1rem;
    }

    .assignment-faq--description {
        font-size: 12px;
    }

}