.first-section-v {
    padding: 4rem 5rem;
}

.first-section--container-v {
    display: flex;
    gap: 5rem;
}

.first-section--block-v {
    position: relative;
}

.first-section-block--img-container-v {
    overflow: hidden;
    border-radius: 10px;
    height: 95%;
}

.first-section--block-v,
.first-section-block--img-container-v img,
.first-section-block--content-v {
    width: 100%;
}

.first-section-block--img-container-v img {
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}

.first-section-block--content-v {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.first-section--block-v:hover .first-section-block--img-container-v img {
    transform: scale(1.1);
}

.first-section-block--content-v div {
    text-align: center;
}

.first-section-block--content-v div p {
    padding: 0 20px;
    border-radius: 20px;
    color: white;
    margin: 0;
    background-color: red;
}

.first-section-block--content-v div h3 {
    margin-top: 0;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.first-section-block--content-v div .button {
    background: white;
    color: black;
    border: none;
}

.first-section-block--content-v div .button:hover {
    color: rgb(208, 60, 63);
}

.first-section-block--content-v div .button:after {
    box-shadow: none;
}

.first-section-block--content-v div .button:hover {
    border: none;
}

@media (max-width:800px) {
    .first-section--container-v {
        flex-direction: column;
    }
}

@media (max-width:500px) {
    .first-section-v {
        padding: 0 3rem;
    }

    .first-section-block--content-v div h3 {
        font-size: 2rem;
    }
}