.hero-slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.hero-slider__slide {
    width: 90%;
    height: 80%;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0;
    border-radius: 2rem;
    transform: translateX(100%);
}

.hero-slider__slide.active {
    opacity: 1;
    transform: translateX(0);
}

.hero-slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 600px;
}

.hero-slider__content--center {
    align-items: center;
    justify-content: center;
}

.hero-slider__content--left {
    left: 30%;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-slider__description {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 1.2;
}

.hero-slider__description--left {
    text-align: left;
}


.animated-rich-text__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d03c3f;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.6s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 55px;
}

.animated-rich-text__button:hover {
    color: #fff;
}

.animated-rich-text__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: left 0.4s ease;
    border-radius: 50px;
}

.animated-rich-text__button:hover::before {
    left: 0;
}

.animated-rich-text__button-label {
    z-index: 10;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .animated-rich-text__description {
        font-size: 4rem;
    }
}

@media screen and (max-width: 762px) {
    .animated-rich-text__button {
        font-size: 12px;
        width: 100px;
        height: 40px;
        margin-top: 0.8rem;
    }

    .animated-rich-text__heading {
        font-size: 12px;
        margin-bottom: 0.8rem;
    }

    .animated-rich-text__description {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    .animated-rich-text__description {
        font-size: 2rem;
        gap: 0.8rem;
    }
}

.animated-rich-text__button {
    text-decoration: none;
}

.hero-slider__description--center {
    text-align: center;
}

.hero-slider__button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 33px;
}

.hero-slider__button:hover {
    color: #d03c3f;
    transition: 0.3s ease-in;
}

.hero-slider__controls {
    position: absolute;
    font-size: 1.9rem;
    width: 18rem;
    bottom: 80px;
    text-align: center;
    padding: 0 1rem;
}

.hero-slider__prev,
.hero-slider__next {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 200;
}

.hero-slider__prev {
    left: 10px;
}

.hero-slider__next {
    right: 10px;
}

.hero-slider__dot {
    height: 12px;
    width: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.hero-slider__dot.active-dot {
    background-color: #fff;
    width: 3rem;
    height: 1rem;
    border-radius: 6px;
}

.hero-slider__heading {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 16px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 18px;
    backdrop-filter: blur(10px);
}

.hero-slider__bullet {
    margin-right: 8px;
    font-size: 16px;
}